@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

body{
    font-family: 'Poppins', cursive !important;
    background-color: rgb(249, 255, 238);
}

.navbar{
    background-color: rgba(255,255,255,0.8);
}

.nav-font li{
    font-weight: 700;
}

.fona-attels{
    min-height: 100vh; 
    background-size: cover; 
    background-image: linear-gradient(rgba(4,9,30,1),
    rgba(255, 255, 255, 0.3)), url(../../assets/trubenieku_bg.jpg);
}


.zemnieku-saimnieciba{
    font-size: 50px;
    font-weight: 200;
    color:rgb(255, 255, 255);
}

.trubenieki{
    font-family: 'Special Elite', cursive;
    font-size: 160px;
    color: rgb(255, 242, 226);
}

.janis img{
    width: 100%;
}

.par-mums-section{
    height: 100%;
}
.par-mums{
    text-align: justify;
}

.par-mums-font p{
    font-size: 18px;
    font-weight: 500;
}

.produkti{
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.lietotajs{
    width: 100px;
    height: 100px;
}

.trub-ikdiena {
    background-color: rgb(197, 191, 183);
    border-radius: 10px;
}

.ekskursijas-centrs{
    margin: 0 auto;
}

@media(max-width: 980px) {
    .zemnieku-saimnieciba{
        font-size: 5vw;
    }
    .trubenieki{
        font-size: 15vw;
    }
}